html {
    display: flex;
    justify-content: center;
}

header {
    display: block; 
}

body {
    display: block;
    margin-top: 10px;
}

#div0 {
    display: inline-block;
    height: 500px;
    width: 500px;
    background-color: aquamarine;
    border: thin solid darkgreen;
}

#div1 {
    display: inline-block;
    height: 500px;
    width: 500px;
    background-color: aquamarine;
    border: thin solid darkgreen;
}

#mouse {
    position: absolute;
    padding: 10px;
    width: 300px;
    height: 60px;
    border-radius: 0.3em;
    color: red;
}